In [1]:
# Imports
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [2]:
# Request the webpage
r = requests.get('http://www.pdas.com/atmosTable1SI.html')

In [3]:
# Verify the request worked
print(r.text[0:500])

<!DOCTYPE html>
<html lang="en-us">
<!-- www.pdas.com/atmosTable1SI.html  -   called from the Atmosphere page -->
<head>
<meta charset="utf-8" />
<title>A Table of the Standard Atmosphere to 86 km in SI units</title>
<meta name="generator" content="EditPad" />
<meta name="author" content="Ralph Carmichael" />
<meta name="description" content= "A Table of the Standard Atmosphere to
   86 km in SI units" />
<meta name="keywords" content= "atmosphere, atmosphere table, temperature,
   density, p

In [4]:
# Parse the html
soup = BeautifulSoup(r.text, 'html.parser')

In [5]:
# Collect required data
results = soup.find_all('p', attrs={'class':'input'})

In [6]:
# Verify results
len(results)

1

In [7]:
first_result = results[0]

In [8]:
x = first_result.contents[0]

In [10]:
# Table headers are in the first 160 characters, will make them table headers in dataframe later.
x[0:160]

'\n alt    sigma     delta   theta  temp   press    dens     a    visc  k.visc   \n  km                               K   N/sq.m   kg/cu.m  m/s kg/m-s sq.m/s   \n  '

In [11]:
y = x[160:-1]
z=[s.strip().split(" ") for s in y.splitlines()]

In [12]:
print(z[0])

['-2', '1.2067E+0', '1.2611E+0', '1.0451', '301.2', '1.278E+5', '1.478E+0', '347.9', '18.51', '1.25E-5']

In [13]:
len(z)

45

In [14]:
df = pd.DataFrame(np.array(z).reshape(45,10), columns = ['alt km', 'sigma', 'delta', 'theta', 'temp K', 'P N/sq.m',
                                                         'dens kg/cu.m', 'a m/s', 'visc kg/m-s', 'k.visc sq m/2'])

In [15]:
df.head()

,alt km,sigma,delta,theta,temp K,P N/sq.m,dens kg/cu.m,a m/s,visc kg/m-s,k.visc sq m/2
0,-2,1.2067E+0,1.2611E+0,1.0451,301.2,1.278E+5,1.478E+0,347.9,18.51,1.25E-5
1,0,1.0000E+0,1.0000E+0,1.0000,288.1,1.013E+5,1.225E+0,340.3,17.89,1.46E-5
2,2,8.2168E-1,7.8462E-1,0.9549,275.2,7.950E+4,1.007E+0,332.5,17.26,1.71E-5
3,4,6.6885E-1,6.0854E-1,0.9098,262.2,6.166E+4,8.193E-1,324.6,16.61,2.03E-5
4,6,5.3887E-1,4.6600E-1,0.8648,249.2,4.722E+4,6.601E-1,316.5,15.95,2.42E-5

In [17]:
# Save to CSV
#df.to_csv('Resources/Pressure_by_Altitude.csv', index = False)